<%= render "search" %>
<!-- Page Content -->
<div class="container">


  <% if params[:search] %>
  <!-- Page Heading -->
  <h1 class="my-4">Movies Database
    <small>Search <%= @r['total_results'] %> Movie!</small>
  </h1>
  <% @r['results'].each do |m| %>
  <div class="row mb-3">
    <div class="col-md-2">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= m['poster_path'] %>" alt="">
      </a>
    </div>
    <div class="col-md-10">
      <h3><%= m['title'] %></h3>
      <p><%= m['overview'] %></p>
      <a class="btn btn-primary" href="#">Add Favo</a>
    </div>
  </div>
  <% end %>
  <!-- /.row -->
  <% end %>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; MOVEDB 2018</p>
  </div>
  <!-- /.container -->
</footer>
